<!DOCTYPE html>
<html lang="en">
<head>
<title>The Mandelbrot Set</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.Jcrop.min.js"></script>
<script language="Javascript">
  
  $(function(){ 
       $('#mandel').Jcrop({
           onSelect: showCoords,
           aspectRatio: getAspect()
       });
       $('#sx').change(function() {
         var sx = parseFloat($('#sx').val()); 
         var sy = Math.round(sx / getAspect());
         $('#sy').val(sy);
       });
       $('#sy').change(function() {
         var sy = parseFloat($('#sy').val()); 
         var sx = Math.round(sy * getAspect());
         $('#sx').val(sx);
       });
   });

  function getAspect()
  {
      var w = $('#mandel').width();
      var h = $('#mandel').height();

      return w / h;
  }

  function view2world(vc)
  {
      var w = $('#mandel').width();
      var h = $('#mandel').height();
      var x0 = parseFloat($('#cx0').text());
      var x1 = parseFloat($('#cx1').text());
      var y0 = parseFloat($('#cy0').text());
      var y1 = parseFloat($('#cy1').text());
      var dx = x1 - x0;
      var dy = y1 - y0;
      var wc = {};

      wc.x = x0 + vc.x / w * dx;
      wc.y = y0 + vc.y / h * dy;
      wc.x2 = x0 + vc.x2 / w * dx;
      wc.y2 = y0 + vc.y2 / h * dy;

      return wc;
  }

  function showCoords(vc)
  {
      var wc = view2world(vc);
      $('#x0').val(wc.x);
      $('#y0').val(wc.y);
      $('#x1').val(wc.x2);
      $('#y1').val(wc.y2);
  };

</script>

<link rel="stylesheet" href="../css/jquery.Jcrop.min.css" type="text/css" />
</head>

<body>

<h1>The Mandelbrot Set: z = z<sup>2</sup> + c</h1>

<div id="plot">
<div id="plot-img">
  <img id="mandel"
       alt="[Mandelbrot set]" 
       width="{{.Sx}}" height="{{.Sy}}"
       src="/mandel?{{.URL}}">
</div>

<div id="plot-domain" style="width:{{.Sx}}px" align="right">
  <div id="plot-domain-real">
  <b>Real:</b> [<span id="cx0">{{.X0}}</span> ... 
                <span id="cx1">{{.X1}}</span>]
  </div>
  <div id="plot-domain-imag">
  <b>Imag:</b> [<span id="cy0">{{.Y0}}</span> ... 
                <span id="cy1">{{.Y1}}</span>]
  </div>
</div>
</div>
 
<div id="param">
<form action="/" method="GET">
<b>Parameters:</b>
<div id="param-domain">
<div id="param-domain-real">
  <label for="x0">Real:</label> 
  <input id="x0" type="text" size="22" name="x0" value="{{.X0}}" />
  <label for="x1"> - </label>
  <input id="x1" type="text" size="22" name="x1" value="{{.X1}}" />
</div>
<div id="param-domain-imag">
  <label for="y0">Imag:</label> 
  <input id="y0" type="text" size="22" name="y0" value="{{.Y0}}" />
  <label for="y1"> - </label>
  <input id="y1" type="text" size="22" name="y1" value="{{.Y1}}" />
</div>
</div>
<div id="param-size">
  <label for="sx">Size:</label> 
  <input id="sx" type="text" size="5" name="sx" value="{{.Sx}}" />
  <label for="sy"> * </label> 
  <input id="sy" type="text" size="5" name="sy" value="{{.Sy}}" />
</div>
<div id="param-other">
  <label for="iter">Iter:</label> 
  <input id="iter" size="5" type="text" name="iter" value="{{.Iter}}" />
  <label for="pal">Palette:</label>
  <select id="pal" name="pal">
  {{$sp := .Pal}}{{range $pn, $pl := .Palettes}}
     <option value="{{$pn}}" {{if eq $pn $sp}}selected="selected"{{end}}>
       {{$pn}}
     </option>
  {{end}}
  </select>
</div>
<div id="param-actions">
  <input type="submit" value="Replot" /> 
  [<a href="/">Reset</a>]
  [<a href="/mandel?{{.URL}}" download="mandel.png">Save</a>]
</div>
</form>
</div>

<div id="source" align="right">
<hr>
Source: <a href="http://github.com/npat-efault/mandel">github.com/npat-efault/mandel</a>
</div>

</body>
</html>
